@font-face {
    font-family: 'DS-DIGI';
    src: url('./Font/DS-DIGI.TTF');
}
@font-face {
    font-family: 'wt064';
    src: url('./Font/wt064.ttf');
}
@font-face {
    font-family: 'wt011';
    src: url('./Font/wt011.ttf');
}
@font-face {
    font-family: 'wt014';
    src: url('./Font/wt014.ttf');
}
@font-face{
    font-family: 'casinofont';
    src: url('./Font/casinofont.ttf');
}
@font-face{
    font-family: 'DFFN_Y7';
    src: url('./Font/DFFN_Y7.TTF');
}
@font-face{
    font-family: 'DFT_C8U';
    src: url('./Font/DFT_C8U.TTF');
}